@media screen and (max-width: 600px) {
  .navbar {
    background-color: #f8c537;
    padding: 1rem;
  }
  .container-md {
    display: none;
  }
  .navbar-brand {
    font-size: 30px;
  }

  .navbar-login {
    margin: 1rem;
  }
}
