@media screen and (max-width: 600px) {
  .footer-container {
    background-color: #e77728;
    padding: 0;
  }
  .text {
    display: flex;
    justify-content: center;
    padding: 3rem;
    font-size: 15px;
    font-weight: bold;
  }
}
